In [43]:
import pandas as pd

# .csv: comma separated values file
# series: data with only one row
# dataframe: data with multiplr rows

In [44]:
df = pd.read_csv("sales_data_sample.csv", encoding = "latin1")
print(df)

#if getting ecoding error then write "encoding = "latin1"" or "encoding = "utf-8""
#can read json and excel file with 
#           pd.read_json()
#       or  pd.read_excel

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns]

In [45]:
# How to save the data as a file

data = {
    "Name":["Ram", "Shyam", "Ghanshyam", "Rohit", "Rohan"],
    "Age":[22, 25, 23, 26, 23],
    "Salary":[10, 8, 13, 9, 11],
    "Performance":[98, 96, 97, 95, 99]
}
small_df = pd.DataFrame(data)
print(df)

small_df.to_csv("data.csv", index = False)   # Saves the dat ain a csv file in current folder

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns]

In [46]:
#head() tail()
print(df.head(10))   #First 10 rows
print(df.tail(10))   #Last 10 rows

#for defoult no. of rows are 5
print(df.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27
5        10168               36      96.66                1  3479.76
6        10180               29      86.13                9  2497.77
7        10188               48     100.00                1  5512.32
8        10201               22      98.57                2  2168.54
9        10211               41     100.00               14  4708.44

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...
5  10/28/2003 0:00  Shipped       4        10     2003  ...
6  11/11/2003 0:00  Shipped       4        11     2003  ...
7  11/18/2003 0:00  Shipped       4        11     2003  ...
8   12/1/2003 0:00  Shipped       4        12     2003  ...
9   1/15/2004 0:00  Shipped       1         1     2004  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA
5              9408 Furth Circle           NaN     Burlingame    CA
6        184, chausse de Tournai           NaN          Lille   NaN
7    Drammen 121, PR 744 Sentrum           NaN         Bergen   NaN
8      5557 North Pendale Street           NaN  San Francisco    CA
9              25, rue Lauriston           NaN          Paris   NaN

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium
5      94217     USA       NaN          Hirano             Juri   Medium
6      59000  France      EMEA           Rance          Martine    Small
7     N 5804  Norway      EMEA          Oeztan           Veysel   Medium
8        NaN     USA       NaN          Murphy            Julie    Small
9      75016  France      EMEA         Perrier        Dominique   Medium

[10 rows x 25 columns]
      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
2813        10293               32      60.06                1  1921.92
2814        10306               35      59.51                6  2082.85
2815        10315               40      55.69                5  2227.60
2816        10327               37      86.74                4  3209.38
2817        10337               42      97.16                5  4080.72
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
2813    9/9/2004 0:00   Shipped       3         9     2004  ...
2814  10/14/2004 0:00   Shipped       4        10     2004  ...
2815  10/29/2004 0:00   Shipped       4        10     2004  ...
2816  11/10/2004 0:00  Resolved       4        11     2004  ...
2817  11/21/2004 0:00   Shipped       4        11     2004  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                      ADDRESSLINE1  ADDRESSLINE2        CITY STATE POSTALCODE  \
2813           Via Monte Bianco 34           NaN      Torino   NaN      10100
2814             Fauntleroy Circus           NaN  Manchester   NaN    EC2 5NT
2815  67, rue des Cinquante Otages           NaN      Nantes   NaN      44000
2816                  Vinb'ltet 34           NaN   Kobenhavn   NaN       1734
2817              5905 Pompton St.     Suite 750         NYC    NY      10022
2818            C/ Moralzarzal, 86           NaN      Madrid   NaN      28034
2819                   Torikatu 38           NaN        Oulu   NaN      90110
2820            C/ Moralzarzal, 86           NaN      Madrid   NaN      28034
2821         1 rue Alsace-Lorraine           NaN    Toulouse   NaN      31000
2822            8616 Spinnaker Dr.           NaN      Boston    MA      51003

      COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
2813    Italy      EMEA         Accorti            Paolo    Small
2814       UK      EMEA        Ashworth         Victoria    Small
2815   France      EMEA         Labrune           Janine    Small
2816  Denmark      EMEA        Petersen            Jytte   Medium
2817      USA       NaN       Hernandez            Maria   Medium
2818    Spain      EMEA          Freyre            Diego    Small
2819  Finland      EMEA       Koskitalo           Pirkko   Medium
2820    Spain      EMEA          Freyre            Diego   Medium
2821   France      EMEA          Roulet          Annette    Small
2822      USA       NaN         Yoshido             Juri   Medium

[10 rows x 25 columns]
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [47]:
# Display info of dataset
print(small_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         5 non-null      object
 1   Age          5 non-null      int64
 2   Salary       5 non-null      int64
 3   Performance  5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes
None

In [48]:
#descriptive satistics
print(small_df.describe())

             Age     Salary  Performance
count   5.000000   5.000000     5.000000
mean   23.800000  10.200000    97.000000
std     1.643168   1.923538     1.581139
min    22.000000   8.000000    95.000000
25%    23.000000   9.000000    96.000000
50%    23.000000  10.000000    97.000000
75%    25.000000  11.000000    98.000000
max    26.000000  13.000000    99.000000

In [49]:
print(f"Shape: {small_df.shape}")
print(f"Column Names: {small_df.columns}")

Shape: (5, 4)
Column Names: Index(['Name', 'Age', 'Salary', 'Performance'], dtype='object')

In [55]:
#Acess Single Column (returns series)
print(small_df["Name"])

0          Ram
1        Shyam
2    Ghanshyam
3        Rohit
4        Rohan
Name: Name, dtype: object

In [51]:
#Acess Multiple Column (returns dataframe)
print(small_df[["Name", "Salary"]])

        Name  Salary
0        Ram      10
1      Shyam       8
2  Ghanshyam      13
3      Rohit       9
4      Rohan      11

In [ ]:
#Filtering Rows
high_salary = small_df[small_df["Salary"]>9]
print(high_salary)

        Name  Age  Salary  Performance
0        Ram   22      10           98
2  Ghanshyam   23      13           97
4      Rohan   23      11           99

In [ ]:
#Multiple Conditions
filtered = small_df[(small_df["Age"]>22) & (small_df["Salary"]>9)]
print(filtered)

        Name  Age  Salary  Performance
2  Ghanshyam   23      13           97
4      Rohan   23      11           99