In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
data = {
    "name" : ["Pavan", "Kapil", "Lalit", "Ishan", "Ansh"],
    "age" : [25, None, 44,23,None],
    "salary" : [50000, 60000, 70000, None, None]
}
df= pd.DataFrame(data)
print("Oignial Dataframe")
print(df); print()

print(df.isnull().sum()); print()

print(df.dropna())

df["age"] = df["age"].fillna(df["age"].mean())
df["salary"] = df["salary"].fillna(df["salary"].mean())

print()
print(df)

Oignial Dataframe
    name   age   salary
0  Pavan  25.0  50000.0
1  Kapil   NaN  60000.0
2  Lalit  44.0  70000.0
3  Ishan  23.0      NaN
4   Ansh   NaN      NaN

name      0
age       2
salary    2
dtype: int64

    name   age   salary
0  Pavan  25.0  50000.0
2  Lalit  44.0  70000.0

    name        age   salary
0  Pavan  25.000000  50000.0
1  Kapil  30.666667  60000.0
2  Lalit  44.000000  70000.0
3  Ishan  23.000000  60000.0
4   Ansh  30.666667  60000.0

In [ ]:
#Lable encoding
df = pd.read_csv("scikit1_data.csv")

df_label = df.copy()

#Lable encoding
le = LabelEncoder()
df_label["Gender_Encoded"] = le.fit_transform(df_label["Gender"])
df_label["Passed_Encoded"] = le.fit_transform(df_label["Passed"])
# print(df_label); print()

#One-Hot Encoding
df_encoded = pd.get_dummies(df_label, columns = ["City"])
print(df_encoded)

      Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Bangalore  \
0     Aman    Male    Yes               1               1           False
1    Priya  Female    Yes               0               1           False
2    Rahul    Male     No               1               0            True
3   Anjali  Female    Yes               0               1           False
4     Ravi    Male    Yes               1               1           False
5    Meera  Female     No               0               0           False
6    Arjun    Male    Yes               1               1            True
7     Neha  Female    Yes               0               1           False
8    Imran    Male     No               1               0           False
9    Sneha  Female    Yes               0               1           False
10     Raj    Male    Yes               1               1           False
11   Divya  Female     No               0               0           False
12   Kabir    Male    Yes               1               1           False
13  Simran  Female    Yes               0               1            True
14   Karan    Male     No               1               0           False
15   Pooja  Female    Yes               0               1           False
16  Rakesh    Male    Yes               1               1           False
17    Isha  Female     No               0               0           False
18   Rohit    Male    Yes               1               1           False
19   Deepa  Female    Yes               0               1            True

    City_Chennai  City_Delhi  City_Mumbai
0          False        True        False
1          False       False         True
2          False       False        False
3          False       False         True
4          False        True        False
5           True       False        False
6          False       False        False
7          False        True        False
8           True       False        False
9          False       False         True
10          True       False        False
11         False        True        False
12         False       False         True
13         False       False        False
14         False        True        False
15         False       False         True
16          True       False        False
17         False        True        False
18         False        True        False
19         False       False        False